<!DOCTYPE html>
<html lang="en">
    
<body>
    {{>nav-bar}}
    <!--Seccion para editar el plato del dia-->
    <div class="editInfo isInactive" id="editInfoDiv">
        <h3>Editar Plato del Dia</h3>
            <div class="inputDiv">
                <label for="">Plato del dia</label>
                <input id="inputPlatoDia"type="text" placeholder="nombre del plato del dia" onkeyup="myFunctionName()">
            </div>
            <textarea name="" id="descripcionPlatoDia" cols="30" rows="10" placeholder="Descripcion del plato" onkeyup=""></textarea>

            <!--No se que tan mal esta colocar esto dentro de un form el cual no tiene mas utilidad que indicar que aqui se presenta un formulario, quizas al usar Node y actualizar el plato del dia eligiendolo desde un menu desplegable si necesite usar un Method en el form pero por ahora no-->
            <div class="presentacionPrevia">
                <h3>Presentacion previa</h3>
                <h4 id="presentacionNombre">Nombre plato dia</h4>
                <p id="presentacionDesc">Descripcion plato dia</p>
            </div>
            
            <button id="edit">EDIT</button> 
    </div>
    {{>footer}}
</body>
