<!DOCTYPE html>
<html lang="en">
<body id="loginBody">
    <div id="divLogIn">
        <button><</button>
        <script>
            const backBtn = document.querySelector("button")
            backBtn.onclick = ()=>{
                window.location = '/foods';
            }
        </script>
        <h2>Log In</h2>
        <form action="/auth/login" method="POST" id="formLogin">
            <div class="inputLogin">
                <label for="">Usuario</label> <input type="text" name="username">
            </div>
            <div class="inputLogin">
                <label for="">Contraseña</label> <input type="password" name="password">
            </div>
            <input type="submit" id="btnSubmit" value="Entrar">
        </form>
        <p>{{msg}}</p>
        <h3>This login is only for Admins</h3>
    </div>
</body>