<footer>
    <h3>Creado por <b>Luis Taliercio</b></h3>
    <h2><a href="https://github.com/LuisTali" target="_blank">Clickea para visitar GitHub <img src="/Iconos/github.png" alt="" style="height: 25px; width:25px"></a></h2>
</footer>
