<nav>
        <label for="" class="logo"><img src="/images/logoCNMP.png" alt=""></label>
        <ul>
            <li><a href="http://localhost:5000/foods/">HOME</a> </li>
            <li><a href="#">US</a> </li>                
            <li><a href="#">CONTACT</a> </li>
            {{#if admin}} <li><a href="#" id="editInfo">EDITAR INFO</a> </li> {{/if}}
        </ul>    
    </nav>