<nav>
        <label for="" class="logo" id="top"><img src="/images/logoCNMP.png" alt=""></label>
        <ul>
            <li><a href="#">HOME</a> </li>                
            <li><a href="#info">CONTACT</a> </li>
            {{#if admin}} 
                <li><button id="editInfo">EDITAR INFO</button></li> 
                <li><a href="/auth/logOut">LOG OUT</a></li>
            {{else}}
                <li><a href="/auth/showLogin">LOG IN</a></li>
            {{/if}}
        </ul>    
    </nav>