<nav>
        <label for="" class="logo" id="top"><img src="/images/logoCNMP.png" alt=""></label>
        <ul>
            <li><a href="#">HOME</a> </li>                
            <li><a href="#info">CONTACT</a> </li>
            {{#if admin}} 
                <li class="adminPcOptions"><button id="editInfo">EDITAR INFO</button></li> 
                <li class="adminPcOptions"><a href="/auth/logOut">LOG OUT</a></li>
                <li id="adminMovileDevices">
                    <select name="" id="adminOptions">
                        <option value="editInfo" >EDITAR INFO</option>
                        <option value="/auth/logout">LOG OUT</option>
                        <option value="Opciones Admin" selected disabled>OPCIONES ADMIN</option>
                    </select>
                </li>
            {{/if}}
        </ul>    
    </nav>